<script type="text/javascript">
Translator.add('Deliver to Post Office', '<?php echo $this->__('Deliver to Post Office'); ?>');
</script>
<div id="_overlay" class="overlay" style="display: none;"></div>
<?php
$base_url = Mage::app()->getStore()->isCurrentlySecure() ? Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK, true) : Mage::getBaseUrl();
?>
<?php /** @var $this Mage_Checkout_Block_Onepage_Shipping_Method_Available */ ?>
<?php $_shippingRateGroups = $this->getShippingRates(); ?>
<?php if (!$_shippingRateGroups): ?>
    <p><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></p>
<?php else: ?>
    <dl class="sp-methods" id="sp_methods">
    <?php $shippingCodePrice = array(); ?>
    <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates): ?>
                <?php                
                if (Mage::getStoreConfig('carriers/chcanpost2module/frontend_disable') && $code == 'chcanpost2module') {            
                    continue;            
                }
                ?>
		<dt>
			<?php echo $this->escapeHtml($this->getCarrierName($code)) ?>
		</dt>
		<?php if ($code == 'chcanpost2module'): ?>
		<dt class="secondary_dt">
			<?php echo $this->__('Shipping Service'); ?>
		</dt>   
		<?php endif;?>
		<ul>
            <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate): ?>
                <?php $price = $_rate->getPrice(); ?>
                <?php $shippingCodePrice[] = "'".$_rate->getCode()."':".(float)$_rate->getPrice(); ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                    <ul class="messages"><li class="error-msg"><ul><li><?php echo $this->escapeHtml($_rate->getErrorMessage()) ?></li></ul></li></ul>
                   <?php else: ?>
                        <?php $on_click = ($code == 'chcanpost2module') ? "getServiceOptions(this.value, '".$base_url."', false);" : '' ?>                        
                        <?php if ($_sole) : ?>
                        <?php if ($code == 'chcanpost2module'): ?>
                            <script type="text/javascript">
                            //<![CDATA[
                            getServiceOptions('<?php echo $_rate->getCode() ?>', '<?php echo $base_url; ?>', false);
                            //]]>
                            </script>
                        <?php endif; ?>
                        <span class="no-display"><input name="shipping_method" type="radio" onclick="<?php echo $on_click; ?>" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" /></span>
                        <?php else: ?>
                        <input name="shipping_method" type="radio" onclick="<?php echo $on_click; ?>" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio"/>

                        <?php if ($_rate->getCode() === $this->getAddressShippingMethod()): ?>
                        <script type="text/javascript">
                            //<![CDATA[
                                lastPrice = <?php echo (float)$_rate->getPrice(); ?>;
                            //]]>
                        </script>
                        <?php endif; ?>

                        <?php endif; ?>
                        <label for="s_method_<?php echo $_rate->getCode() ?>" id="s_label_method_<?php echo $_rate->getCode() ?>" class="ch_cp_rate"  ref="<?php echo $_rate->getMethodDescription(); ?>" ><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
                        <?php $_excl = $this->getShippingPrice($price, $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($price, true); ?>
                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>   
			
            <?php $displayShippingOptions = $code == 'chcanpost2module' && !Mage::getStoreConfig('carriers/chcanpost2module/hide_shipping_options'); ?>
            <?php if ($displayShippingOptions && !Mage::getStoreConfig('carriers/chcanpost2module/hide_shipping_options')): ?>
            <dt class="secondary_dt" id="shipping_options_title">
                    <?php echo $this->__('Shipping Options'); ?>
            </dt>   
            <?php endif;?>
            <dd>
                <?php if ($displayShippingOptions && Mage::getStoreConfig('carriers/chcanpost2module/require_signature') == '1'): ?>
                    <div class="shipping_method_options" >
                        <input type="checkbox" name="signature" disabled="disabled" id="option_SO" onclick="chUpdateRates('<?php echo $base_url; ?>');" />
                        <label for="signature"><?php echo Mage::helper('chcanpost2module')->__('Require Signature'); ?></label>
                    </div>
                <?php endif; ?>
                <?php if ($displayShippingOptions && Mage::getStoreConfig('carriers/chcanpost2module/require_coverage') == 'optional'): ?>
                <div class="shipping_method_options" >
                    <input type="checkbox" name="coverage" disabled="disabled" id="option_COV" onclick="chUpdateRates('<?php echo $base_url; ?>');" />
                    <label for="coverage"><?php echo Mage::helper('chcanpost2module')->__('Include Coverage'); ?></label>
                </div>
                <?php endif; ?>
                <?php if ($displayShippingOptions && Mage::getStoreConfig('carriers/chcanpost2module/card_for_pickup')): ?>
                <div class="shipping_method_options" >
                    <input type="checkbox" name="card_for_pickup" disabled="disabled" id="option_HFP" onclick="chUpdateRates('<?php echo $base_url; ?>');" />
                    <label for="card_for_pickup"><?php echo Mage::helper('chcanpost2module')->__('Card for Pick Up'); ?></label>
                </div>
                <?php endif; ?>
                <?php if ($displayShippingOptions && !Mage::helper('chcanpost2module/option')->isPaOption() && Mage::getStoreConfig('carriers/chcanpost2module/do_not_safe_drop')): ?>
                <div class="shipping_method_options" >
                    <input type="checkbox" name="do_not_safe_drop" disabled="disabled" id="option_DNS" onclick="chUpdateRates('<?php echo $base_url; ?>');"  <?php echo Mage::getStoreConfig('carriers/chcanpost2module/safe_drop_default') ? '' : 'checked' ?> />
                    <label for="do_not_safe_drop"><?php echo Mage::helper('chcanpost2module')->__('Do not Safe Drop'); ?></label>
                </div>
                <?php endif; ?>
                <?php if ($displayShippingOptions && !Mage::helper('chcanpost2module/option')->isPaOption() && Mage::getStoreConfig('carriers/chcanpost2module/leave_at_door')): ?>
                <div class="shipping_method_options" >
                    <input type="checkbox" name="leave_at_door" disabled="disabled" id="option_LAD" onclick="chUpdateRates('<?php echo $base_url; ?>');" />
                    <label for="leave_at_door"><?php echo Mage::helper('chcanpost2module')->__('Leave at Door (Do not card)'); ?></label>
                </div>
                <?php endif; ?>
                <?php if ($displayShippingOptions && Mage::getStoreConfig('carriers/chcanpost2module/enable_cod')): ?>
                <div class="shipping_method_options" >
                    <input type="checkbox" name="cod" disabled="disabled" id="option_COD" onclick="chUpdateRates('<?php echo $base_url; ?>');" />
                    <label for="collect_on_delivery"><?php echo Mage::helper('chcanpost2module')->__('COD'); ?></label>
                </div>
                <?php endif; ?>

                <?php if ($displayShippingOptions && Mage::getStoreConfig('carriers/chcanpost2module/deliver_to_postoffice')): ?>
                <div class="shipping_method_options" id="nearest_office">
                    <div class="update_item">
                        <ul class="ch_inline">
                            <li><input type="checkbox" id="option_D2PO" disabled="disabled" onclick="chReloadRates('<?php echo $base_url; ?>');" name="deliver_to_post_office" /></li>
                            <li><label for="nearest_office"><?php echo Mage::helper('chcanpost2module')->__('Deliver to Post Office Near Postal Code:'); ?></label></li>
                            <?php 
                            $postal_code = Mage::getSingleton('checkout/session')->getPostalCode();
                            if (empty($postal_code)) {
                                $postal_code = $this->getAddress()->getPostcode();
                            }
                            ?>
                            <li><input type="text" size="6" name="postcode" id="postcode" value="<?php echo $postal_code; ?>" /></li>
                            <li><button id="update_office_list" class="button" onclick="chReloadRates('<?php echo $base_url; ?>');" type="button" title="<?php echo Mage::helper('chcanpost2module')->__('Update'); ?>" disabled="disabled"><span><span><?php echo Mage::helper('chcanpost2module')->__('Search'); ?></span></span></button></li>
                        </ul>
                    </div>
                    <div id="cp_office_name" style="font-weight:bold;"></div>
                    <div id="cp_office_address"></div>
                    <input type="hidden" name="office" id="office" />
                </div>
                <?php endif; ?>
            </dd>
    <?php endforeach; ?>
    </dl>
<script type="text/javascript">
//<![CDATA[
    <?php if (!empty($shippingCodePrice)): ?>
        var shippingCodePrice = {<?php echo implode(',',$shippingCodePrice); ?>};
    <?php endif; ?>
    $$('input[type="radio"][name="shipping_method"]').each(function(el){
        Event.observe(el, 'click', function(){
            if (el.checked == true) {
                var getShippingCode = el.getValue();
                <?php if (!empty($shippingCodePrice)): ?>
                    var newPrice = shippingCodePrice[getShippingCode];
                    if (!lastPrice) {
                        lastPrice = newPrice;
                        quoteBaseGrandTotal += newPrice;
                    }
                    if (newPrice != lastPrice) {
                        quoteBaseGrandTotal += (newPrice-lastPrice);
                        lastPrice = newPrice;
                    }
                <?php endif; ?>
                checkQuoteBaseGrandTotal = quoteBaseGrandTotal;
                //---------------- canadapost ---------------------
                chShowOptions();                
                //---------------- /canadapost ---------------------
                return false;
            }
       });
    });
    <?php 
        $show_options = (preg_match('/(chcanpost2module_.+)/', $this->getAddressShippingMethod(), $matches)); 
        if ($show_options) {
            echo 'getServiceOptions("'.$matches[1].'", "'. $base_url.'", false);';
            echo 'chShowOptions();';
        }
    ?>
    message_no_location = '<?php echo str_replace("'", "\'", Mage::helper('chcanpost2module')->__('No locations found for this postal code.')); ?>';
    message_only_canada = '<?php echo str_replace("'", "\'", Mage::helper('chcanpost2module')->__('Deliver to post office is only available to Canadian destinations')); ?>';

if (typeof chShowMethodDescription == 'function') { chShowMethodDescription(); }

//]]>
</script>
<?php endif; ?>
