<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
?>
<?php if(count($this->getStores())>1): ?>
<div class="form-language btn-group" style="padding-top: 12px; padding-bottom: 11px; height: 20px;">
    
    <!-- <select id="select-language" title="<?php echo $this->__('Your Language') ?>" onchange="window.location.href=this.value">
    <?php foreach ($this->getStores() as $_lang): ?>
        <?php $_selected = ($_lang->getId() == $this->getCurrentStoreId()) ? ' selected="selected"' : '' ?>
        <option value="<?php echo $_lang->getCurrentUrl() ?>"<?php echo $_selected ?>><?php echo $this->escapeHtml($_lang->getName()) ?></option>
    <?php endforeach; ?>
    </select>
	<label for="select-language" class="btn"><?php echo $this->__('Language:') ?></label> -->

	<a href="?___store=english&___from_store=french">EN</a> / <a href="?___store=french&___from_store=english">FR</a>
</div>
<?php endif; ?>
